# TYPO3 specific
/var
/vendor
/public/*
!/public/typo3conf
/public/typo3conf/*
!/public/typo3conf/LocalConfiguration.php
!/public/typo3conf/AdditionalConfiguration.php

# t3kit specific
.env

# IDE specific
.idea/
.vscode/

# others
.DS_Store
