version: "3.7"

services:

  db:
    container_name: ${COMPOSE_PROJECT_NAME}_db
    image: ${DB_IMAGE:-mariadb:10.3}
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci

    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-1234}

  web:
    container_name: ${COMPOSE_PROJECT_NAME}_web
    image: ${WEB_IMAGE:-t3kit/ubuntu18.04-php7.2-apache:1.2.2}
    environment:
      - VIRTUAL_HOST=${COMPOSE_PROJECT_NAME}.local
      - TYPO3_CONTEXT=${TYPO3_CONTEXT:-Development/local}

      - DB_HOST=${COMPOSE_PROJECT_NAME}_db
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-1234}
      - DB_NAME=${DB_NAME:-t3kit9}
      - DB_USER=${DB_USER:-root}

      - USER_ID=${USER_ID:-}
    volumes:
      - ../../:/var/www/html${FILE_SYSTEM_MODE:-}
    command: "./.t3kit/docker/up.sh"

networks:
  default:
    external:
      name: nproxy
