name: Code Guidelines
# https://github.com/t3kit/.github/blob/master/CONTRIBUTING.md#coding-rules

on: [push, pull_request]

jobs:

  build:
    name: Run composer test & composer test-themes
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]
        php-version: ['7.4']

    steps:
      - uses: actions/checkout@v2

      - name: Lint shell scripts with Shellcheck
        run: shellcheck -e SC1091 .localconf/**/*.sh

      - name: Set up PHP v${{ matrix.php-version }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer:v2

      - name: Set up Node.js v${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Composer Cache
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"

      - uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install Composer dependencies
        # env:
        #   COMPOSER_AUTH: '{"github-oauth": {"github.com": "${{ secrets.COMPOSER_SECRET }}" }}'
        run: composer install --prefer-dist --no-progress --no-suggest

      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('public/typo3conf/ext/**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install npm dependencies
        run: composer run-script npm-ci

      - name: Run Composer test
        run: composer run-script test

      - name: Run Composer test-themes
        run: composer run-script test-themes

      - name: PKG versions
        run: |
          composer -v
          php -v
          node -v
          npm -v
