name: Local development environment
# https://github.com/t3kit/t3kit-starter#local-development-environment-based-on-docker

on: [push, pull_request]

jobs:
  build:

    name: Setup t3kit local development environment

    runs-on: ubuntu-18.04

    steps:

      - uses: actions/checkout@v1

      - name: Install t3kit Composer dependencies
        uses: docker://composer:1.9
        with:
          args: "install"

      - name: Add t3kit dev environment variables
        uses: docker://composer:1.9
        with:
          args: "run-script env"

      - name: Create nproxy Docker network
        run: docker network create nproxy

      - name: Run nginx-proxy for t3kit
        run: docker run -d -p=80:80 --name=nproxy --network=nproxy -v=/var/run/docker.sock:/tmp/docker.sock:ro t3kit/nproxy:1.0.0

      - name: Run t3kit containers
        run: docker-compose up -d

      - name: Show running containers
        run: docker ps

      - name: Sleep 100s
        uses: maddox/actions/sleep@master
        with:
          args: "100"

      - name: Setup t3kit database
        run: docker-compose exec -T web /var/www/html/.t3kit/db/setupdb.sh

      - name: curl t3kit10.local
        run: "curl -vfsSL -H 'Host: t3kit10.local' --url 'localhost/'"

      - name: curl t3kit10.local from container
        run: "docker run --network=nproxy appropriate/curl -vfsSL -H 'Host: t3kit10.local' --url 'nproxy/'"

      - name: curl t3kit10.local/typo3
        run: "curl -vfsSL -H 'Host: t3kit10.local' --url 'localhost/typo3/'"
