name: Local development environment
# https://github.com/t3kit/t3kit-starter#local-development-environment-based-on-docker

on: [push, pull_request]

jobs:
  build:

    name: Setup t3kit local development environment

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v2

      - name: Composer version
        run: composer --version

      - name: Install t3kit Composer dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Add t3kit dev environment variables
        run: composer run-script env

      - name: Create nproxy Docker network
        run: docker network create nproxy

      - name: Run nginx-proxy for t3kit
        run: docker run -d -p 80:80 -p 443:443 --name=nproxy --network=nproxy -v ~/.certs/server:/etc/nginx/certs -v /var/run/docker.sock:/tmp/docker.sock:ro t3kit/nproxy:1.1.0

      - name: Run t3kit containers
        run: docker-compose up -d

      - name: Show running containers
        run: docker ps

      - name: Show running containers
        run: docker logs nproxy

      - name: Sleep 100s
        uses: maddox/actions/sleep@master
        with:
          args: "100"

      - name: Setup t3kit database
        run: docker-compose exec -T web /var/www/html/.localconf/db/setupdb.sh
